body, html { margin: 0; padding: 0; font-family: 'Yanone Kaffeesatz', sans-serif; }
.board-inside, .results-inside, .options-inside, .messages-inside { padding: 10px; border-radius: 5px; border: 2px solid black; }
.results-inside span { text-align: center; display: block; color: #bababa; font-size: 14pt; }
.messages-inside { background: #e1eaf2; }
.rendered-letter { vertical-align: middle; text-align: center; display: table; float: left; padding: 0.5%; }
.rendered-letter span { margin: 0 auto; display: table-cell; vertical-align: middle; font-weight: 700; font-size: 100%; border-radius: 5px; border: 2px solid black; background: white; }
.word-rendered { display: inline-block; font-size: 150%; font-weight: 700; padding: 5px; cursor:pointer; }
.word-rendered:hover { -webkit-transition: color 200ms linear 200ms; -moz-transition: color 200ms linear 200ms; -o-transition: color 200ms linear 200ms; transition: color 200ms linear 200ms; color: #3879D9; }
.alpaca-form-buttons-container { text-align: center; }
.alpaca-form-button-submit { width: 50%; background: transparent; color: black; font-size: 125%; font-weight: 700; border-radius: 5px; border: 2px solid black; }
.alpaca-form-button-submit:hover { background: #e1eaf2; border-color: black; }
.alpaca-container-label { border: none; }
.btn-default:hover { background: #afd9ee; }
h2 { font-size: 22pt; }
select.alpaca-control { width: 100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding: 2px 2px 2px 2px; background: transparent url("../img/1493293989_arrow_down2.png") no-repeat 98% center; }
i.fa { margin-right: 5px; }
div.row { margin-bottom: 10px; }
div.row:first-child {}
div.board-row {}
.modal { display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.6); }
.modal-content { background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid black; width: 50%; text-align: center; }
.modal-content p { padding: 15px 0 20px 0; margin: 0; }
.modal-content p i { font-size: 24pt; margin-right: 10px; line-height: 150%; }
.modal-content p span { font-size: 22pt; }
.active-letter {}
.active-letter span { -webkit-transition: background-color 200ms linear 200ms, color 200ms linear 200ms; -moz-transition: background-color 200ms linear 200ms, color 200ms linear 200ms; -o-transition: background-color 200ms linear 200ms, color 200ms linear 200ms; transition: background-color 200ms linear 200ms, color 200ms linear 200ms; background-color: #3879D9; color: white; }
.flash-letter span { color: white; background-color: #3879D9; -webkit-animation: flash linear 250ms infinite; animation: flash linear 250ms infinite; }
@-webkit-keyframes flash { 0% { opacity: 1; } 50% { opacity: .1; } 100% { opacity: 1; } }
@keyframes flash { 0% { opacity: 1; } 50% { opacity: .1; } 100% { opacity: 1; } }
@media only screen and (max-width: 40em)
{
    h2 { font-size: 18pt; }
    .modal-content { width: 80%; }
    .results { margin-top: 10px; }
    .messages  { margin-top: 10px; }
}